#main {
    background-color: rgba(148, 142, 142, 0.541);
    width: 100%;
}

#title {
    text-align: center;
    font-size: 70px;
    padding: 10px;

}
#subheader{
   text-align: center;
   font-family: sans-serif;
   padding: 5px; 
}


#image {
    max-width: 60%;
    height: 50%;
    margin-top: 10px;
    border: 1px solid   black;
}
#img-div{
    margin:auto;
    
}