#main {
    background-color: rgba(148, 142, 142, 0.541);
    width: 100%;
}

#title {
    text-align: center;
    font-size: 70px;
    padding: 10px;

}





#image {
    max-width: 80%;
    height: auto;
}